<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Optimal Internet Explorer compatibility -->
    <script src="./node_modules/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");

      window.extAsyncInit = () => {
        console.log("hello!");
        // TODO: How to parse env file from here?
        MessengerExtensions.getSupportedFeatures(
          function success(result) {
            let features = result.supported_features;
            if (features.includes("context")) {
              MessengerExtensions.getContext(
                "463960950914477",
                function success(thread_context) {
                  // success
                  // document.getElementById("psid").value = thread_context.psid;
                  console.log("Messenger extensions ok!");
                },
                function error(err) {
                  // error
                  console.log(err);
                }
              );
            }
          },
          function error(err) {
            // error retrieving supported features
            console.log(err);
          }
        );

        pay = () => {
          axios
            .post("https://utslatenightfood.herokuapp.com/pay", {})
            .then(function(response) {
              console.log(response);
            })
            .catch(function(error) {
              console.log(error);
            });
        };

        closeWebview = () => {
          MessengerExtensions.requestCloseBrowser(
            function success() {
              console.log("Webview closing");
            },
            function error(err) {
              console.log(err);
            }
          );
        };
      };
    </script>

    <!-- <form onclick="https://utslatenightfood.herokuapp.com/pay" method="post">
      <input type="submit" value="Pay Now" />
    </form> -->

    <input type="button" value="Pay Now" onclick="pay()" />
  </body>
</html>
