<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Optimal Internet Explorer compatibility -->
  </head>
  <body>
    <script>
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");

      window.extAsyncInit = function() {
        // SDK loaded, code to follow
      };
    </script>

    <form action="https://utslatenightfood.herokuapp.com/pay" method="post">
      <input type="submit" value="Pay Now" />
    </form>
  </body>
</html>
